<%- include('../components/head') %>
<div class="main container-fluid p-5">
    <h1>Admin Panel</h1>
    <div class="section mt-5" id="conclusion">
        <div class="result">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">Documents</div>
                <div class="card-body">Content</div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-header">Examine&Sign</div>
                <div class="card-body">Content</div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-header">Header</div>
                <div class="card-body">Content</div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
